<div class='new-task-form'>
  <%= form_for @new_task do |f| %>
    <h3>What to do?</h3>
    <div class="input-group">
      <%= f.text_field :content, class: 'form-control', placeholder: "TODO Comment" %>
      <span class="input-group-btn">
        <%= f.submit "Add Task", class: 'btn btn-primary' %>
      </span>
    </div>
  <% end %>
</div>

<hr />

<div class="list-group">
  <% @tasks.each do |task| %>
    <a href="#" class="list-group-item"><%= task.content %></a>
  <% end %>
</div>
