.devise-form {
  width: 40%;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0 auto;
  margin-top: 5%;
}

.new-task-form {
  border: 1px solid #ddd;
  padding: 30px 50px;
  padding-top: 10px;
}

#tasks-list {
  a.task-item.finished {
    background-color: aliceblue;
    color: darkgray;
    text-decoration: line-through;
  }
}
